* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: aliceblue;
  border: 1px solid;
}

button {
  font-size: 16px;
  margin: 2px 0px;
}

.principal {
  width: max-content;
  display: flex;
}

.painel {
  margin: 0px 8px;
  border: 1px solid;
  padding: 8px;
  background-color: rgb(199, 203, 206);
  max-width: 230px;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  float: right;
  gap: 0px;
  justify-content: stretch;
  background-color: bisque;
}
