* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  background-color: #f8e9d6;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  font-size: 16px;
  font-family: inherit;
  margin: 2px 0px;
  padding: 0px 8px;
  border-radius: 0px;
  text-transform: capitalize;
  font-size: 24px;
}

canvas {
  border: 1px solid;
}

.principal {
  width: max-content;
  display: flex;
  margin: 64px auto;
}

.painel {
  margin: 0px 8px;
  border: 1px solid;
  padding: 8px;
  background-color: rgb(199, 203, 206);
  max-width: 230px;
  background-image: url(../bg.png);
}

.elements {
  display: flex;
  flex-wrap: wrap;
  float: right;
  gap: 0px;
}

.element-btn {
  opacity: 0.9;
  position: relative;
  cursor: pointer;
  margin: 0;
  border-width: 3px;
}

.element-btn::before {
  content: '';
  background-image: url('../button-bg.png');
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.1;
  top: 0;
  left: 0;
}

canvas,
.painel {
  border-width: 4px;
}

canvas,
.painel,
.element-btn {
  border-style: outset;
  border-color: #969696;
  border-radius: 2px;
}

.element-selected {
  opacity: 1;
  border-style: dashed;
  border-color: black;
}

.tools {
  margin: 8px 0px;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  float: left;
  gap: 0px;
}

.tool-btn {
  opacity: 0.6;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.tool-selected {
  opacity: 1;
  border: 2px dashed black;
}

.reset-btn {
  opacity: 1;
  background-color: rgba(148, 1, 1, 0.781);
}

.hidden {
  display: none;
}
